* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff5733; /* Couleur de fond */
  color: white;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  transition: background-color 0.5s ease; /* Animation de changement de couleur */
}

h1 {
  margin-bottom: 20px;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  width: 150px;
  height: 150px;
  border: 10px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  background-color: red;
  transition: background-color 0.5s ease; /* Animation de changement de couleur */
}

button {
  background-color: white;
  color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease; /* Animation de bouton */
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.timer-circle {
  transition: transform 1s ease; /* Animation de la transition */
}
